h1{
position: relative;
padding: 8px;
color: White;
font-size: 250%;
font-family: Tahoma, Geneva, sans-serif;}

h2 {
font-size: 200%;
color: white;
position: relative;
padding: 10px;
font-family: Tahoma, Geneva, sans-serif;}

.mainwrapper {
display: inline-block;}

.mainwrapper img {
display: block;
max-width: 100%;}

.mainwrapper .mainoverlay {
position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;}
  
button {
	color: #6DB2EC;
	border-color:  #6DB2EC;
	padding: 10px;
	font-size: 125%;
	margin-top: 30px;
	background-color: rgba(0, 0, 0, 0);}

button:hover {
	color: #BBD1E4;
	border-color:  #BBD1E4;}

.thank-you-panel {
    border-radius: 25px;
    padding: 20px;
    width: 75%;
    height: auto;
    background-color: rgba(51, 122, 183, .5);}
