p {
color: Cornsilk;
font-size: 120%;
font-family: Tahoma, Geneva, sans-serif;
}

#main-content {display: none;}

.btn-primary {
color: white;
  background-color: #1B2354;
  border-color: #B0CCE5;}

h1{
position: relative;
padding: 70px;
margin: 0px;
margin-top: 50px;
color: White;
font-size: 300%;
background-color: #337AB7;
font-family: Tahoma, Geneva, sans-serif;}

h4 {
font-size: 220%;
color: white;
padding: 25px;
font-family: Tahoma, Geneva, sans-serif;}

button {
	color: #6DB2EC;
	border-color:  #6DB2EC;
	padding: 10px;
	font-size: 125%;
	margin-top: 30px;
	background-color: rgba(0, 0, 0, 0);}

button:hover {
	color: #BBD1E4;
	border-color:  #BBD1E4;}

 .command-back {
 background: url("../images/index/command-back.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;}
	
.columnpadder {
margin-bottom: 15px;
padding-bottom: 15px;}
 
 .list-group-item {
 border: 1px solid black;}
 
 .panel-heading {
 border: 1px solid black;}